body{
    background-color: #111;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
}

nav{
    position: fixed;
    top:0;
    bottom:0;
    left:0;
    width:15rem;
    background-color: black;
    display: flex;
    flex-direction: column;
    padding:1rem;
    padding-left: 1.5rem;
    box-sizing: border-box;
    align-items: flex-start;
}
nav > figure{
    display: flex;
    color: white;
    align-items: center;
    justify-content: flex-start;
    margin:0;
    margin-bottom: 1.3rem;
}
nav > figure:nth-child(4){
    margin-bottom: 4rem;
}
nav > figure > figcaption{
    margin-left: 1rem;
    font-weight: 600;
}
#spotifyLogo{
    width:8.5rem;
    margin-bottom: 3rem;
    margin-top:0.5rem;
}
.navSvg{
    width: 1.5rem;
    height: 1.5rem;
}
#likedImg{
    width:1.5rem;
    height: 1.5rem;
    border-radius: 0.1rem;
}
nav > div{
    font-size: 12px;
    margin-top: auto;
    display: flex;
    flex-direction: column;
    height:9rem;
    justify-content: space-between;
}
nav > div a{
    text-decoration: none;
    color:#aaa;
    padding-right: 2rem;
}
nav>button{
    background: none;
    border: 0.01em solid white;
    border-radius: 2em;
    display: flex;
    align-items: center;
    padding: 0.5rem;
    margin-top:2rem;
    margin-bottom: 1rem;
}
nav > button > label{
    color:white;
    font-weight: 600;
}
nav > button > svg{
    width: 1.2rem;
    height: 1.2rem;
    margin-right:0.2rem;
}



header{
    z-index: 999;
    position: fixed;
    left:15rem;
    top:0;
    right:0;
    background-color: rgba(10, 10, 10, 0.8);
    height: 4.4rem;
    display: flex;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
}
#forwardButton,#backButton{
    width:2.2rem;
}
#backButton{
    margin-right: 1rem;
}
#forwardButton{
    margin-right: auto;
}
header > button{
    background-color: white;
    border: none;
    padding:1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 3rem;
    font-weight: 600;
    font-size: 14px;
    margin-left:2rem;
}
header > button:hover{
    background-color: #ccc;
}
header > a{
    text-decoration: none;
    color:#aaa;
    font-weight: 700;
    font-size: 15px;
}
header > a:hover{
    text-decoration: underline;
}


main{
    margin-left: 17rem;
    margin-top: 8rem;
    padding-right: 2rem;
    color:white;
    display: flex;
    flex-direction: column;
}
main > section{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5rem;
    flex-wrap: nowrap;
    
}
main > section > h2{
    position: absolute;
    top:-4rem;
    left: 0;
}
main > section > a{
    position: absolute;
    top:-2rem;
    right:0;
    text-decoration: none;
    color:#aaa;
    font-weight: 600;
}
main > section > a:hover{
    text-decoration: underline;
}

main > section > figure{
    display: flex;
    flex-direction: column;
    background-color: rgb(25,25,25);
    border-radius: 1rem;
    padding: 1rem;
    box-sizing: border-box;
    width: 13rem;
    height: 17rem;
    margin: 0;
    padding-bottom: 1rem;
}
main > section > figure > figcaption{
    font-weight: 600;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}
main > section > figure > p{
    margin-top: 0;
    color: #aaa;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin:0;
}
main section figure div img{
    border-radius: 0.5rem;
    width: 100%;
}
main section figure div{
    position: relative;
    width: 100%;
    overflow: hidden;
}
main section figure div button{
    position: absolute;
    opacity: 0;
    bottom:-0.5rem;
    right: 0.5rem;
    background-color: #1DB954;
    padding-top: 0.3rem;
    padding-left: 0.5rem;
    border-radius: 5rem;
    border: none;
    width:3rem;
    height: 3rem;
    transition-duration: 0.25s;
}
main section figure div button svg{
    width: 2rem;
    height: 2rem;
}

main > section > figure:hover{
    background-color: #222;
}

main > section > figure:hover div button{
    opacity: 1;
    bottom:0.5rem;
}